header {
    background-color:#18181a;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 32px;
    overflow: hidden;
}

.topbarred {
    display: inline-block;
    padding: 6px 6px 6px 6px;
    color: white;
    text-decoration: none;
}

body {
    background-color: #2a2929;
    color: white;
    margin: 0%;
}

main {
    margin-top: 32px;
    display: grid;
    grid-template-rows: 48px 18% 40%;
    grid-template-columns: 35% 35% 30%;
}

.topnav {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgb(53, 52, 52);
    overflow: hidden;

}

.navving {
    color: white;
    text-decoration: none;
}

#shop {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    background-color: rgb(92, 88, 88);
    padding-left: 6px;
}

#shopname {

    padding-right: 5px;
}



#char2{
    text-align: left;
    padding-right: 10px;
}

#wrapper {
    display: flex;
    flex-wrap: flex;
    justify-content: flex-end;
    align-items: end;
    flex-direction: column;
}

#wrapper > dt {
    width: 155px;
}

#wrapper > dd {
    width: 115px;
}

#char1 {
    padding-left: 10px;
}

#testing {
    grid-row-start:3;
    grid-column-start: 2;
}

.battleControl {
    grid-column-start: 1;
    grid-column-end: 3;
}

.battleCommands {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.battleCommands > div > h2 {
    display: inline-block;
    padding: 1em;
    max-height: 2em;
    margin: 0;
}

.battleText { 
    background-color: rgb(83, 77, 77);
    text-align: left;
    min-height: 10em;
    border: 2em;
    border-color: black;
    border-style: solid;
    border-radius: 6px;
}

.battleText2 { 
    display: none;
    z-index: 1;
    background-color: rgb(83, 77, 77);
    text-align: left;
    min-height: 10em;
    border: 2em;
    border-color: black;
    border-style: solid;
    border-radius: 6px;
}