@media screen and (min-width:780px) {

    @font-face {
        font-family: 'Augusta';
        src: url('Fonts/augusta/Augusta.ttf'); /* IE9 Compat Modes */
        src: url('Fonts/augusta/Augusta.ttf') format('truetype'), /* Super Modern Browsers */
             url('Fonts/augusta/Augusta.ttf') format('truetype'), /* Pretty Modern Browsers */
             url('Fonts/augusta/Augusta.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('Fonts/augusta/Augusta.ttf') format('truetype'); /* Legacy iOS */
    }
    @font-face {
        font-family: 'DUNGRG__';
        src: url('Fonts/dungeon_sn/DUNGRG__.TTF'); /* IE9 Compat Modes */
        src: url('Fonts/dungeon_sn/DUNGRG__.TTF') format('truetype'), /* Super Modern Browsers */
             url('Fonts/dungeon_sn/DUNGRG__.TTF') format('truetype'), /* Pretty Modern Browsers */
             url('Fonts/dungeon_sn/DUNGRG__.TTF')  format('truetype'), /* Safari, Android, iOS */
             url('Fonts/dungeon_sn/DUNGRG__.TTF') format('truetype'); /* Legacy iOS */
    }

    body {
        background-color: #2a2929;
        color: white;
        margin: 0%;
        font-family: 'DUNGRG__';
        font-weight: bold;
        font-size: 200%;
    }    

    header {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 4;
        background-color:#18181a;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 32px;
        font-family: 'Augusta';
        font-size: .6em;
        font-weight: normal;
        overflow: visible;
    }

    #Links {
        display: inline-block;
    }

    #Navs {
        display: inline-block;
    }

    #topbarButton {
        display: none;
    }

    #navButton {
        display: none;
    }

    .topbarred {
        display: inline;
    }

    .navving {
        display: inline;
    }

    #topbarBackground {
        background-color: #18181a;
        padding: 0;
        margin: 0;
    }

    .topbarred {
        display: inline-block;
        padding: 0px 6px 0px 6px;
        color: white;
        text-decoration: none;
    }

    .battleControl {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        position: relative;
    }

    li {
        float: left;
        list-style-type: none;
    }
    li > a {
        display: block;
        padding-left: 8px;
    }

    .character > dl {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    #char1 {
        grid-row-start: 3;
        grid-column-start: 1;
    }
    
    #char2{
        grid-row-start: 3;
        grid-column-start: 2;
        text-align: left;
        padding-right: 10px;
    }

    #wrapper > dt {
      width: 155px;
    }

    #wrapper > dd {
     width: 115px;
    }
    
    .battleText { 
        background-color: rgb(83, 77, 77);
        text-align: left;
        min-height: 10em;
        max-height: 12em;
        border: 1.5em;    
        border-color: rgb(0, 0, 0);
        border-style: solid;
        border-radius: 6px;
        overflow: scroll;
        width: 80%;
    }
    
    .battleText2 { 
        opacity: 0;
        display: none;
        z-index: 1;
        background-color: rgb(83, 77, 77);
        text-align: left;
        min-height: 12em;
        border: 2em;
        border-color: black;
        border-style: solid;
        border-radius: 6px;
    }
}

main {
    display: grid;
    grid-template-rows: 32px 48px 30% 40%;
    grid-template-columns: 35% 35% 30%;
}

.topnav {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: rgb(53, 52, 52);
    overflow: hidden;
}

.navving {
    color: white;
    text-decoration: none;
}

#shop {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 3;
    background-color: rgb(92, 88, 88);
    padding-left: 6px;
}

#shopname {
    padding-right: 5px;
}

#wrapper {
    display: flex;
    flex-wrap: flex;
    justify-content: flex-end;
    align-items: end;
    flex-direction: column;
}

#char1 {
    padding-left: 10px;
}



.battleCommands {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    flex-direction: row;
    position: relative;
}

.battleCommands > div > h2 {
    display: inline-block;
    padding: 1em;
    max-height: 2em;
    margin: 0;
}



#p0 {
    display: none;
}